@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-helvetica);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 18px;
}

.prose {
  --tw-prose-body: #e4e4e7;
  --tw-prose-headings: #ffffff;
  --tw-prose-links: #ffffff;
  --tw-prose-bold: #ffffff;
  --tw-prose-quotes: #a1a1aa;
  --tw-prose-quote-borders: #3f3f46;
  --tw-prose-counters: #a1a1aa;
  --tw-prose-bullets: #71717a;
  --tw-prose-hr: #3f3f46;
  --tw-prose-code: #ffffff;
  --tw-prose-pre-bg: #18181b;
  --tw-prose-pre-code: #e4e4e7;
}
